@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primarycolor: #151f34;
}

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.class1{
    width: 50vw;
    height: 100vh;
background-image: url('../images/sneackers.webp');
background-repeat: no-repeat;
background-size: cover;
float: right;

border-bottom-left-radius: 90px;
border-top-left-radius: 90px;
}
.class2{
    width: 50vw;
    height: 100vh;
/* background-color: rgb(142, 40, 40); */
float: left;
}
/* .titre h2{
    display: inline;
text-align: center;
    background-color: blue;
    margin: 60%  40% ;
    color: white;

} */

.fields{
width: 300px;
height: 300px;
    margin: auto;
    margin-top: 20%;


}
h3{
    display: inline;

}
.firstinput input{
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    outline: none;
}
.chek label,a{
    font-size: 12px;
    color: var(--primarycolor);
}
.chek a{
    margin-left: 80px;

}
.singnin input{
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 95%;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    margin-top: 20px;


}
.google button{
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 95%;
    border: none;
    background-color: white;
    color: var(--primarycolor);
    border: 1px solid;
    margin-bottom: 20px;

}
.firstinput{
    margin-bottom: 20px;
}
.account p,a{
    display: inline;
    font-size: .6em;
}
.account{
    text-align: center;
}
.google img {

margin-top: 1%;
margin-bottom: -1%;
    width: 5%;
    height: auto;
    /* float: left; */

}

