@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mulish:wght@400;600;700&display=swap');

:root{
  --maincolor: #BAAE92;
  --black:#000;
  --white:#FFF;
}
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 36px;
  font-family: 'inter', sans-serif;

}
h2{
  font-size: 32px;
}
h3{
  font-size: 24px;
}
h6{
  font-size: 14px;
  font-weight:400 ;
}
p{
  font-size: 16px;
}
body {
  margin: 0;

  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.demo-logo-vertical{
  margin: 10px 0 ;
  text-align: center;
}
.demo-logo-vertical img{
  width: 50%;
}

.register{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #2C3333;
}

/* form{
  display:flex ;
  flex-direction: column;
  gap: 20px;
  background-color: #2E4F4F;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  color: white;
} */

.login{
  height: 100vh;
  display: grid;
  place-items: center;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}

.green{
  color: green;
}
.red{
  color: red;
}

:where(.css-dfjnss).ant-form-item .ant-form-item-feedback-icon-success {
  color: #52c41a;
}

.ant-input , .ant-input-affix-wrapper{
  background-color: transparent;
  color: black;
}